body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left-panel {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
}

.right-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.panel {
  margin-top: 1rem;
}

.panel-label {
  cursor: pointer;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.ais-SearchBox-input {
  margin-bottom: 1rem;
}
