body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.Titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.results-panel {
  padding: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.logo {
  color: var(--primary-color);
  border-left: solid 4px var(--accent-color);
  padding-left: 3px;
}

.Sidebar {
  max-width: 100vw;
  position: fixed;
  background: white;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--results-width);
  box-shadow: var(--box-shadow);
}

.ais-Menu-link {
  text-decoration: none;
  display: flex;
  flex: 1;
}

.ais-Menu-count,
.ais-RefinementList-count {
  font-size: 0.8rem;
  background-color: var(--g1);
  color: var(--g3);
  padding: 0.1rem;
  border-radius: var(--border-radius);
  margin-left: 0.3rem;
  height: 1.3rem;
}

.ais-Menu-item--selected {
  color: var(--primary-color-dark);
}

.ais-RefinementList-item * {
  cursor: pointer;
}



.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  /* Not sure about this */
  overflow: hidden;
}

.sort-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
