.Attribute {
  padding: 0.5rem;
  border-top: 1px solid var(--g1);
  border-bottom: 1px solid var(--g1);
}

.Attribute__title__closed, .Attribute__title__open {
  cursor: pointer;
  color: var(--primary-color-dark);
  font-size: 1rem;
}

.Attribute__title__open {
}

.Attribute__title__closed>.icon, .Attribute__title__open>.icon {
  float: right;
}

.Attribute__content__open {
  padding: 0.5ex;
}

.Attribute__content__closed {
  display: none;
}

.Attribute__propval {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
}

.Attribute__propval__key {
  margin-left:0.4rem;
  font-weight: bold;
}

.Attribute__propval__key:after {
  content: ":";
}

.Attribute__propval__value {
  margin-left: 1rem;
}

.Attribute__propval--selected {
  border: 1px solid var(--primary-color);
  background: var(--primary-color-subtle);
}

.Attribute__item {
  border: 1px solid var(--g4);
  border-radius: var(--border-radius);
  background-color: var(--g1);
  margin: 1ex 0;
}

.Attribute__item__title {
  cursor: pointer;
}

.Attribute__item__title>.icon {
  color: var(--primary-color-dark);
}

.Attribute__item__title:hover {
  background: var(--g0);
  border-radius: var(--border-radius);
  color: var(--primary-color-dark);
}

.Attribute__link {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.Attribute__link:hover {
  background: var(--g1);
}
