.CurrentRefinements {
  gap: .5rem;
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
}

.CurrentRefinements__button {
  display: flex;
  gap: .5rem;
}

.CurrentRefinements__button .label {
  white-space: nowrap;
}
