.details-panel {
  left: auto;
  max-width: var(--details-width);
}

.details-panel__title {
  color: var(--primary-color);
}

.ais-Pagination {
  margin-bottom: 1rem;
}

.details-info {
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: var(--g5);
}
