.Filter {
  cursor: pointer;
}

.Filter:hover {
  background: var(--g0);
  border-radius: var(--border-radius);
  color: var(--primary-color-dark);
}

.RefinementList li > label, label.ais-RefinementList-label {
  display: block;
  margin-left: 1.5em;
}

.RefinementList li > input[type=checkbox], label.ais-RefinementList-label > input[type=checkbox] {
  float:left;
  margin-left: -1.5em;
}

li.ais-RefinementList-item> ul.ais-RefinementList-list {
  margin-left: 1.5em;
}
