.filter-panel {
  max-width: 20rem;
  display: none;
}

.filter-panel--open {
  display: block;
}

.filters {
  overflow-y: auto;
  flex: 1;
  height: 100%;
}

span.filterValue {
  white-space: nowrap;
  padding: 0.3rem 0.8rem;
  border: 1px solid blue;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);;
}

button.clear {
  background-color: red;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
