:root {
  --overlay: rgba(0, 0, 0, 0.5);
  --primary-color: rgb(204,0,0);
  --accent-color: rgb(255,183,11);
  --border-radius: 6px;
  --g1: rgb(240,240,240);
  --g2: rgb(150,150,150);
  --g3: rgb(50,50,50);
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

button {
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--g1);
  cursor: pointer;
}
