:root {
  --overlay: rgba(0, 0, 0, 0.5);
  --primary-color: rgb(204,0,0);
  --primary-color-dark: rgb(100,0,0);
  --accent-color: rgb(255,183,11);
  --border-radius: 6px;
  --g1: rgb(240,240,240);
  --g2: rgb(220,220,220);
  --g3: rgb(50,50,50);
}

li {
  list-style-type: none;
}

ul, ol{
  padding-left: 0;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

button {
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--g1);
  cursor: pointer;
  padding: 0.2rem 0.8rem;
}

button:hover {
  background-color: var(--g2);
}
