:root {
  --overlay: rgba(0, 0, 0, 0.5);
  --primary-color: rgb(204,0,0);
  --primary-color-dark: rgb(100,0,0);
  --accent-color: rgb(255,183,11);
  --border-radius: 6px;
  --g1: rgb(240,240,240);
  --g2: rgb(220,220,220);
  --g3: rgb(200,200,200);
  --g4: rgb(50,50,50);
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  --results-width: 30rem;
}

li {
  list-style-type: none;
}

ul, ol{
  padding-left: 0;
  margin: 0;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

button, .button {
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--g1);
  cursor: pointer;
  color: var(--g4);
  padding: 0.2rem 0.8rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

button:hover, .button:hover {
  background-color: var(--g2);
  color: black;
}
button:active, .button:active {
  background-color: var(--g3);
  color: black;
}
