.app-header {
  position: absolute;
  background: white;
  top: 1rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100vw - 2rem);
  z-index: 1;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.header .logo {
  align-self: flex;
  margin-right: 2rem;
}

.app-header__results-count {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: var(--g4);
  font-size: 0.8rem;
}

.header--buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
