.header--buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


/* only large screens */
@media (min-width: 768px) {

  .header--button {
    position: fixed;
    z-index: 1;
    background: white;
    top: 1rem;
    box-shadow: var(--box-shadow);
  }

  .header--button-left {
    left: 1rem;
  }

  .header--button-right {
    right: 1rem;
  }
}

.app-header {
  position: absolute;
  background: white;
  top: 1rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100vw - 2rem);
  z-index: 1;
}

.header {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.header .logo {
  align-self: flex;
  margin-right: 2rem;
}

.app-header__results-count {
  text-align: right;
  margin-top: .5rem;
  color: var(--g4);
  font-size: .8rem;
}
