.Layer__info-button {
  cursor: pointer;
}

.Layer__info-button:hover {
  color: var(--primary-color);
}

.Layer__description {
  padding: 1rem;
}

.search-container {
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  width: 16px;
  height: 16px;
}
