.map-container {
  min-height: 50vh;
  min-width: 50vh;
  margin-bottom: 1rem;
}

.Map__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.Map__buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* only large screens */
@media (min-width: 768px) {
  .Map__buttons {
    position: absolute;
    z-index: 1;
    top: 1rem;
  }

  .Map__buttons button {
    box-shadow: var(--box-shadow);
    background: white;
    position: relative;
  }

  .Map__buttons--left {
    left: 1rem;
  }

  .Map__buttons--right {
    right: 1rem;
  }
}
