.Map {
  min-height: 50vh;
  margin-bottom: 1rem;
}

.ais-GeoSearch {
  height: 100%
}
.ais-GeoSearch-map {
  height: 100%
}

/* No 'search as i type' toggle */
.ais-GeoSearch-control {
  display: none;
}
