.RefinementList__count {
  font-size: .8rem;
  font-weight: 400;
  background-color: var(--g1);
  padding: .2rem;
  border-radius: var(--border-radius);
  margin-left: .4rem;
}

.RefinementList li > label {
  display: block;
  margin-left: 1.5em;
}

.RefinementList li > input[type=checkbox] {
  float: left;
}
