
.ais-SearchBox-input {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 5px;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}


.ais-SearchBox {
  flex: 1;
  display: flex;
}

.ais-SearchBox-form {
  flex: 1;
  display: flex;
}

.ais-SearchBox-form button {
  padding: 0rem 0.5rem;
  border-radius: 0;
}

.ais-SearchBox-form button:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.ais-SearchBox-input {
  flex: 1;
  display: flex;
  border-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
