.Searchbox {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Searchbox input {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 5px;
  flex: 1;
  height: 100%;
  display: flex;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Searchbox button {
  height: 100%;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ais-SearchBox {
  flex: 1;
  display: flex;
}

.ais-SearchBox-form {
  flex: 1;
  display: flex;
}

.ais-SearchBox-form button {
  padding: 0rem 0.5rem;
  border-radius: 0;
}

.ais-SearchBox-form button:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.ais-SearchBox-input {
  flex: 1;
  display: flex;
  border-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
